#requireResource("com.atlassian.confluence.ext.gmaps:gmap-javascript")

<div class="gmap $!style" style="width: ${width}px;">
    <fieldset class="hidden">
        <!-- Map attributes -->
        <input type="hidden" class="parameters" name="width" value="$width" />
        <input type="hidden" class="parameters" name="height" value="$height" />
        <input type="hidden" class="parameters" name="zoom" value="$zoom" />
        <input type="hidden" class="parameters" name="maptype" value="$maptype" />
        <input type="hidden" class="parameters" name="displaymap" value="$displaymap" />        
        <input type="hidden" class="parameters" name="controls" value="$controls" />
        <input type="hidden" class="parameters" name="mapscale" value="$mapscale" />
        <input type="hidden" class="parameters" name="maptypecontrol" value="$maptypecontrol" />
        <input type="hidden" class="parameters" name="overview" value="$overview" />
        <input type="hidden" class="parameters" name="drag" value="$drag" />
        <input type="hidden" class="parameters" name="doubleclickzoom" value="$doubleclickzoom" />
        <input type="hidden" class="parameters" name="wheelzoom" value="$wheelzoom" />
        <input type="hidden" class="parameters" name="marker" value="$marker" />
        
        <!-- map center -->
        #if( $centerAddress )
            <input type="hidden" name="centeraddress" value="$centerAddress.getAddress()" title="$!centerAddress.getInfo()" />
        #elseif ( $centerLocation )
            <input type="hidden" name="centerlocation" value="$centerLocation.getLatitude(),$centerLocation.getLongitude()" title="$!centerLocation.getInfo()" />
        #end        
        
        <!-- locations -->
        #foreach( $latlon in $locations )
            <input type="hidden" class="location" value="$latlon.getLatitude(),$latlon.getLongitude()" title="$!latlon.getInfo()" />
        #end
        
        <!-- addresses -->
        #foreach( $address in $addresses )
            <input type="hidden" class="address" value="$address.getAddress()" title="$!address.getInfo()" />
        #end
        
        <!-- directions -->
        #foreach( $direction in $directions )
            <input type="hidden" class="directions" value="$direction.getFromAddress()" title="$direction.getToAddress()" />
        #end

        <input type="hidden" name="lang" value="$generalUtil.htmlEncode( $lang )">
        <input type="hidden" name="apiKey" value="$generalUtil.htmlEncode( $apiKey )">
   </fieldset>

    <div class="gmap-canvas" style="width: ${width}px; height: ${height}px">
        <p><img src="${req.contextPath}/images/icons/wait.gif">$i18n.getText("gmaps.macro.message.loading")</p>
    </div>
</div>
